@{
    Layout = "_ConfigurePlugin";
}
@inject Nop.Core.IWebHelper webHelper


<div class="panel-group">
    <div class="panel panel-default" id="group-prices">
        <div class="panel-heading">
            Twitter
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    Email Id
                </div>
                <div class="col-md-9">
                    SangeetSagarmalShah@gmail.com
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    Contact No
                </div>
                <div class="col-md-9">
                    +91 7698924143
                </div>
            </div>
        </div>
    </div>
</div>
