@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    <div class="panel-default side-nav">
        <div class="panel-heading">
            <h3>@T("Categories")</h3>            
        </div>
        <div class="side-nav-gbtbox">
            <div class="panel-group" id="accordion">
                <ul class="">
                    @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                        @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                    }
                </ul>
            </div>
         </div>
    </div>
}
