<div class="navbar navbar-default top-menu topbar" role="navigation">
    <div class="headerlinks container-fluid">
       <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".test">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
        </div>
        <div class="navbar-collapse collapse test">
            @await Component.InvokeAsync("Widget", new { widgetZone = "header_before" })
            @await Component.InvokeAsync("HeaderLinks")
        </div>   
    </div>
</div>
<div class="header masthead">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync("TopMenu")
            <div class="searchbtn">
                <i class="fa fa-search"></i>
            </div>
            <div class="search-box">
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>       
     </div>
   </div>
</div>

